{% extends 'layouts/main.html' %}
{% block title %}CleanCut{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Clean Cut🎬 </h1>
		<p class="lead">Where movies are casted, managed and made.</p>
		<h3>
			<a href="/movies"><button class="btn btn-primary btn-lg">Find a movie</button></a>
			<a href="/movies/create"><button class="btn btn-default btn-lg">Post a movie</button></a>
		</h3>
		<h3>
			<a href="/actors"><button class="btn btn-primary btn-lg">Find an actor</button></a>
			<a href="/actors/create"><button class="btn btn-default btn-lg">Post an actor</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="large-cast-studio" src="{{ url_for('static',filename='img/large-cast-studio.jpeg') }}" alt="Front Photo of Film Production Studio" />
	</div>
</div>
{% endblock %}